* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(./images/ship.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  position: relative;
}
nav {
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.head1 h1 {
  font-size: 80px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.flight {
  width: 330px;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.534);
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  bottom: 60px;
  left: 200px;
}
.airplane {
  width: 130px;
  height: 50px;
  background-color: #177ba5;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  justify-content: center;
}
.air {
  width: 30px;
}
.building {
  width: 130px;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.build {
  width: 30px;
}
.fly {
  width: 940px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  bottom: -140px;
  left: 200px;
}
.country{
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.721);
    width: 380px;
    height: 140px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
.top{
    color: #00000080;
    font-size: 20px;
}
.bottom{
    font-size: 24px;
    margin-top: 10px;
}
.fly{
    display: flex;
    gap: 60px;
}